.App {
  color: rgb(57, 62, 70);
  margin: 0 auto;
}

.container {
  margin-top: 30px;
  max-width: 600px;
  background: #ffe8d6;
  border-radius: 15px;
}

.cardBody {
  padding: 16px;
}

.row {
  display: flex;
}
#input-city {
  border: none;
  border-radius: 20px;
  padding: 6px;
  font-size: 15px;
}

.search-button {
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
  margin: 0 10px;
  color: white;
  font-size: 15px;
  background: #ff971d;
}
.currentTemperature {
  font-size: 64px;
}

.units {
  position: relative;
  top: -75px;
  right: -90px;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 16px;
}
li {
  list-style: none;
}

.col-sm-2 {
  text-align: center;
  padding: 10px 10px;
  margin: 0 5px 5px;
  position: relative;
  min-height: 1px;
}
